.swiper-container {
  // width: 100%;
  // height: 300px;
  overflow: visible !important; //画像が途切れなくなる
}

.swiper-slide {
  height: 500px;
  //引きのアニメーション
  overflow: hidden;

  & > img {
    //親要素にoverflow: hidden;があるため画像が途切れる
    width: 100%;
    height: 100%;
    max-width: 100%; //横にははみ出ない
    object-fit: cover;
    //引きのアニメーション
    transform: scale(1.3);
    transition: transform 1.9s ease;
  }

  //薄い青を画面に表示
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 125, 0.1);
  }

  //引きのアニメーション
  &-active {
    & > img {
      transform: none;
    }

    & .hero__title {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.hero {
  //横にはみ出ている部分の削除
  overflow: hidden;
  //画像したの余白
  @extend .pb-lg;
  //画像が切り替わる時に上部分の画像が途切れてしまう（若干）を修正
  padding-top: $navHeight;
  
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 20px));
    color: $cWhite;
    font-size: 25px;
    //&::afterより手前に持ってきた
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  }

  &__footer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;
    //__scrolltext 位置調整
    height: 68px;
    width: 22px;
    //矢印上の部分の動きを消す 矢印が下に伸びる動きになる
    overflow: hidden;
  }

  &__downarrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;

    @include animation(
      $name: kf-arrow-anime,
      $iteration-count: infinite,
      $duration: 2s,
      $timing-function: linear
    );
  }

  &__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.7);
    left: -8px;
    top: 11px;
    font-size: 1.2em; //1.2倍（標準が1em）
  }
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    transform: translateY(-10%); //上方向に動く
  }
  30% {
    transform: none;
  }
}
