@import 'modules/variables';
@import 'modules/mixin';

$cSubTitle: #535353;
$cWineRed: #904669;

.pace-done #global-container {
  transition: opacity 1s;
  opacity: 1; //残像がなくなる
}

//ロードしている間画像非表示
//pase-running は検証で確認
.pace-running #global-container {
  opacity: 0;
  visibility: hidden;
}

.pace {

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;  //12pxから変更
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  // overflow: hidden;  //表示しない原因（検証で確認）
}

.pace .pace-progress {
  transform: none !important; //!important で優先順位をあげる
  text-align: center;
}

.pace .pace-progress::after {
  content: attr(data-progress-text);
  //ロードアニメーション変更、％表示のみにする
  display: block;
  font-weight: 100;
  font-size: 2em;
  font-family: "Helvetica Neue", "Yu Gothic", "Meiryo", sans-serif;
  color: $cSubTitle;
}

.pace.pace-inactive {
  display: none;
}

//四角のアニメーション
.pace-progress-inner {
  width: 40px;
  height: 40px;
  background-color: $cWineRed;

  margin: 0 auto;  //100pxから変更中央
  @include animation(
    $name: sk-rotateplane,
    $duration: 1.2s,
    $iteration-count: infinite,
    $timing-function: ease-in-out
  );
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
